@model Shooping.Models.StateVm

<div class="form-group">
    <label asp-for="state.Name" class="control-label"></label>
    <input asp-for="state.Name" class="form-control" />
    <span asp-validation-for="state.Name" class="text-danger"></span>
</div>